<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Drop File/Folder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <script src="rzslider/rzslider.min.js"></script>
    <script src="id3reader/id3-minimized.js"></script>
    <script src="slimscroll/ngSlimscroll.min.js"></script>

    <link href="css/style.css" rel="stylesheet"/>
    <link href="rzslider/rzslider.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller="player">

<div id="dropzone" class="full-height">
    <div class="player">
        <div class="header-meta clearfix">
            <div class="cover">
                <img ng-src="{{current.meta.picture || defaultImg}}"/>
            </div>
            <div class="info2">
                <div class="info">
                    <span class="title" ng-if="current.meta.title" ng-bind="current.meta.title"></span>
                    <span class="artist" ng-if="current.meta.artist"
                          ng-bind="'by ' + current.meta.artist + (current.meta.album ? ' @' + current.meta.album : '')"></span>
                </div>
                <div class="time">
                    <span class="current">{{timeSlider.currentText}}</span>
                    <span class="slider">
                        <rzslider rz-slider-model="timeSlider.current"
                                  rz-slider-floor="0"
                                  rz-slider-ceil="timeSlider.duration"
                                  rz-slider-on-change="setCurrentTime()"
                                  rz-slider-hide-limit-labels="true">
                        </rzslider>
                    </span>
                    <span class="total">{{timeSlider.durationText}}</span>
                </div>
            </div>
        </div>
        <div class="header-controls clearfix">
            <div class="buttons">
                <a href class="btn" ng-click="toggleShuffle()"><i class="fa fa-random"
                                                                  ng-class="{'active' : shuffle }"></i></a>
                <a href class="btn" ng-click="toggleRepeat()"><i class="fa fa-repeat"
                                                                 ng-class="{'active' : repeat }"></i></a>

                    <span class="player-buttons">
                        <a href class="btn" ng-click="prev()" ng-disabled="!files.length"><i class="fa fa-backward"></i></a>
                        <a href class="btn" ng-click="playPause()" ng-disabled="!current || !current.active"><i
                                class="fa"
                                ng-class="state === 1 ? 'fa-pause' : 'fa-play'"></i></a>
                        <a href class="btn" ng-click="next(true)" ng-disabled="!files.length"><i
                                class="fa fa-forward"></i></a>
                    </span>
            </div>
            <div class="volume">
                <span class="slider">
                    <rzslider rz-slider-model="volume"
                              rz-slider-floor="0"
                              rz-slider-ceil="100"
                              rz-slider-hide-limit-labels="true">
                    </rzslider>
                </span>
                <a href class="btn" ng-click="toggleMute()">
                    <i class="fa" ng-class="muted ? 'fa-volume-off' : 'fa-volume-up'"></i>
                </a>
            </div>

        </div>

        <hr/>

        <div id="list" class="playlist">
            <a class="item" ng-repeat="file in files" ng-class="{'active': file.active}" href ng-click="play(file)">
                <div class="info">
                    <span class="title" ng-bind="($index + 1) + '. ' + file.meta.title"></span>
                    <span class="artist" ng-if="file.meta.artist" ng-bind="'by ' + file.meta.artist"></span>
                </div>
                <div class="duration" ng-bind="file.durationText"></div>
            </a>
        </div>

        <hr/>

        <div id="footer">
            <a href class="btn footer-btn" ng-click="openAddFiles()">
                <i class="fa fa-file"></i>
            </a>
            <a href class="btn footer-btn" ng-click="openAddFolders()">
                <i class="fa fa-folder"></i>
            </a>
        </div>
    </div>
</div>

<input id="addFolders" type="file" multiple webkitdirectory>
<input id="addFiles" type="file" multiple>
<audio id="audio">
    <source id="source" type="audio/mpeg"/>
</audio>
<audio id="meta-audio">
    <source id="meta-source" type="audio/mpeg"/>
</audio>

<script src="js/Utils.js"></script>
<script src="js/Controller.js"></script>
<script src="js/Player.js"></script>
<script src="js/MetadataHelper.js"></script>
<script src="js/FileHelper.js"></script>
<script src="js/File.js"></script>
</body>
</html>